fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic_core
SQLAlchemy
psycopg2-binary

firebase_admin
google-cloud-firestore
google-cloud-storage

python-jose
passlib[bcrypt]

requests
python-dotenv

# for websockets + watchfiles later
websockets
watchfiles
